Repository ZandroWallaert/Stratego-Web-App: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-jar, sonarqube, validateHTML, test, deploy

.gitlab-ci.yml:

image: op-gitlab.howest.be:4567/docker-registry/project-i-2019:master

stages:
  - build
  - QA
  - deploy

before_script:
  - ln -s "$MAVEN_LOCAL" ".m2"

build-jar:
  stage: build
  only: 
    - master
  except:
    changes:
      - documents/**/*
  script:
    - ./gradlew shadowJar
  artifacts:
    paths:
      - build/libs/

sonarqube:
  stage: QA
  except:
    changes:
      - documents/**/*
  script: ./gradlew sonarqube -Dsonar.host.url=http://172.18.18.129
  
validateHTML:
  stage: QA
  only:
    changes:
      -  src/main/resources/webroot/**/*.html
  script: ./gradlew validateHTML

test:
  stage: QA
  except:
    changes:
      - documents/**/*
  script: ./gradlew test

deploy:
  stage: deploy
  only:
    - master
  except:
    changes:
      - documents/**/*
  script: echo "TODO"

Begin polling: speler2 moet wachen tot speler1 klaar is met setup //OK
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/TurnRequest.java
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/wait2.js
  src/main/resources/webroot/wait2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Java code clean-up
  src/main/java/be/howest/ti/project1/stratego/stratego/Board.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Coordinates.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Gameboard.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Move.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Pawn.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Player.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SpecialPawns/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SpecialPawns/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SpecialPawns/Pilot.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SpecialPawns/Spy.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Token.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Pilot.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/TurnRequest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/BoardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/GameboardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/MoveTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/SpecialPawns/PawnTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/pawns/PawnTest.java
Due: build-jar, sonarqube, test, deploy

Polling
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/resources/webroot/assets/js/setup2.js
  src/main/resources/webroot/assets/js/wait.js
  src/main/resources/webroot/setup2.html
  src/main/resources/webroot/wait.html
Due: build-jar, sonarqube, validateHTML, test, deploy

add end game
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
  src/main/resources/webroot/setup.html
  src/main/resources/webroot/setup2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Logger added
  src/main/java/be/howest/ti/project1/stratego/webapi/WebServer.java
Due: build-jar, sonarqube, test, deploy

fix client bugs + add styling on board
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/eventListeners.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
Due: build-jar, sonarqube, test, deploy

Polling Fix
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
Due: build-jar, sonarqube, test, deploy

Player1 setup fix
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/specialpawns/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/specialpawns/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/specialpawns/Pilot.java
  src/main/java/be/howest/ti/project1/stratego/stratego/specialpawns/Spy.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/resources/webroot/assets/js/setup.js
  src/test/java/be/howest/ti/project1/stratego/stratego/GameboardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/specialpawns/PawnTest.java
Due: build-jar, sonarqube, test, deploy

Make functions in index.js shorter.
  src/main/resources/webroot/assets/js/index.js
Due: build-jar, sonarqube, test, deploy

finalise game CSS #1
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/eventListeners.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
  src/main/resources/webroot/setup.html
  src/main/resources/webroot/setup2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

added airborn rules
  src/main/resources/webroot/app.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Onclicks verwijderen
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Fix sending infiltrator gameMode, finalise CSS #2, decrease function size, add CSS on waiting screen
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/css/loader.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/css/wait.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/media/airborne.jpg
  src/main/resources/webroot/assets/media/bg-gameImage.jpg
  src/main/resources/webroot/wait.html
  src/main/resources/webroot/wait2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

add previous changes to second files
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/wait.html
  src/main/resources/webroot/wait2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Player setup implemented in java server #1
  src/main/java/be/howest/ti/project1/stratego/Main.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SetupPawns.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Bomb.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Captain.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Colonel.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Flag.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/General.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Lieutenant.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Major.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Marshall.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Pilot.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Scout.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Sergeant.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Spy.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/resources/webroot/assets/js/setup.js
  src/test/java/be/howest/ti/project1/stratego/stratego/GameboardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/pawns/PawnTest.java
Due: build-jar, sonarqube, test, deploy

Player setup implemented in java server FIXED
  src/main/java/be/howest/ti/project1/stratego/Main.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/SetupPawns.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Bomb.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Captain.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Colonel.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Flag.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/General.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Lieutenant.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Major.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Marshall.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Pilot.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Scout.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Sergeant.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Spy.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/index.html
  src/test/java/be/howest/ti/project1/stratego/stratego/GameboardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/pawns/PawnTest.java
Due: build-jar, sonarqube, validateHTML, test, deploy

Edited the wireframe
  documents/design/wireframes/Project wireframe end.pdf
  documents/design/wireframes/Project wireframe.pdf
Due: none

fix onclicks removal merge
  .idea/misc.xml
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/js/eventListeners.js
  src/main/resources/webroot/assets/js/index.js
Due: build-jar, sonarqube, validateHTML, test, deploy

added airborn rules to app2
  src/main/resources/webroot/app2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

final fix
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
  src/main/resources/webroot/setup2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

setup.js fix
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
Due: build-jar, sonarqube, test, deploy

documents update
  documents/design/C4/nmbs.jpg
  documents/design/usecases/usecasesStratego.jpg
Due: none

Screen is fixed for setup
  src/main/resources/webroot/assets/css/setup.css
Due: build-jar, sonarqube, test, deploy

add favicon remove onclicks onmouseover onmouseout decrease function size
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
  src/main/resources/webroot/assets/js/eventListeners.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/favicon.ico
Due: build-jar, sonarqube, validateHTML, test, deploy

new favicon
  .idea/misc.xml
  src/main/resources/webroot/favicon.ico
Due: build-jar, sonarqube, test, deploy

css van de boardlist gedaan
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/boardlist.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Added C4 model
  documents/design/C4/componentDiagram.pdf
  documents/design/C4/contextDiagram.pdf
  documents/design/C4/deploymentsDiagram.pdf
Due: none

Make HTML valid
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/index.html
  src/main/resources/webroot/setup.html
  src/main/resources/webroot/setup2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Make CSS valid
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/css/wait.css
Due: build-jar, sonarqube, test, deploy

Moved all html files except index to pages directory
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/setup2.js
  src/main/resources/webroot/assets/js/wait.js
  src/main/resources/webroot/assets/js/wait2.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/pages/app.html
  src/main/resources/webroot/pages/app2.html
  src/main/resources/webroot/pages/boardlist.html
  src/main/resources/webroot/pages/setup.html
  src/main/resources/webroot/pages/setup2.html
  src/main/resources/webroot/pages/wait.html
  src/main/resources/webroot/pages/wait2.html
  src/main/resources/webroot/setup.html
  src/main/resources/webroot/setup2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

implement automatic deployment
  .gitlab-ci.yml
Due: build-jar, sonarqube, test, deploy

Fixed a bug which showed rare tokens between rules text
  src/main/resources/webroot/app.html
  src/main/resources/webroot/app2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Made pawns dynamically appear on gameboard by server
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/MessageRequest.java
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/pages/app.html
  src/main/resources/webroot/pages/app2.html
  src/main/resources/webroot/pages/boardlist.html
Due: build-jar, sonarqube, validateHTML, test, deploy

refactor some functions to camel case remove onclicks on setup, index decrease function size
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/app.js
  src/main/resources/webroot/assets/js/app2.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/wait.js
  src/main/resources/webroot/index.html
  src/main/resources/webroot/pages/boardList.html
  src/main/resources/webroot/pages/setup.html
  src/main/resources/webroot/pages/wait2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

add favicon remove onclicks onmouseover onmouseout decrease function size
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/app.js
  src/main/resources/webroot/assets/js/app2.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/pages/app2.html
  src/main/resources/webroot/pages/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Revert "Merge branch..."
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/app2.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/index2.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/assets/js/wait.js
  src/main/resources/webroot/index.html
  src/main/resources/webroot/pages/boardlist.html
  src/main/resources/webroot/pages/setup.html
  src/main/resources/webroot/pages/wait2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

how to play is now more readable
  src/main/resources/webroot/pages/app.html
  src/main/resources/webroot/pages/app2.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Add css for theme desert
  src/main/resources/webroot/assets/css/app-desert.css
  src/main/resources/webroot/assets/media/cursor-yellow.png
Due: build-jar, sonarqube, test, deploy

fix links after
  src/main/resources/webroot/assets/js/app.js
  src/main/resources/webroot/assets/js/app2.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/index.html
  src/main/resources/webroot/pages/app.html
  src/main/resources/webroot/pages/app2.html
Due: build-jar, sonarqube, validateHTML, test, deploy
