Repository ZandroWallaert/Stratego-Web-App: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-jar, sonarqube, validateHTML, test, deploy

build-jar:
  stage: build
  script:
  - ./gradlew shadowJar
  artifacts:
    paths:
    - build/libs/

sonarqube:
  stage: QA
  script: ./gradlew sonarqube -Dsonar.host.url=http://172.18.18.129

validateHTML:
  stage: QA
  script: ./gradlew validateHTML

test:
  stage: QA
  script: ./gradlew test

deploy:
  stage: deploy
  script: echo "TODO"

main menu patch #1
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/media/classic.jpg
  src/main/resources/webroot/assets/media/cursor.png
  src/main/resources/webroot/assets/media/duel.jpg
  src/main/resources/webroot/assets/media/infiltrator.jpg
  src/main/resources/webroot/assets/media/secretmode.jpg
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Update Gameboard
  src/main/resources/webroot/assets/css/game.css
  src/main/resources/webroot/assets/js/game.js
  src/main/resources/webroot/game.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Index.js fix & Java tests setup
  src/main/java/be/howest/ti/project1/stratego/people/GameBoard.java
  src/main/java/be/howest/ti/project1/stratego/people/Piece.java
  src/main/java/be/howest/ti/project1/stratego/people/PlayerBoard.java
  src/main/resources/webroot/assets/css/game.css
  src/main/resources/webroot/assets/js/index.js
  src/test/java/be/howest/ti/project1/stratego/people/GameBoardTest.java
  src/test/java/be/howest/ti/project1/stratego/people/GameManagerTest.java
  src/test/java/be/howest/ti/project1/stratego/people/GameTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PeopleApplicationTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PersonTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PieceTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PiecesTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerApplicationTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerBoardTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerTest.java
Due: build-jar, sonarqube, test, deploy

main menu patch #2
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/css/loader.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

update CI with chmod +x gradlew [skip ci]
  .gitlab-ci.yml
Due: build-jar, sonarqube, test, deploy

main menu patch #2
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/js/index.js
Due: build-jar, sonarqube, validateHTML, test, deploy

Gameboard Grid Update
  src/main/java/be/howest/ti/project1/stratego/people/GameBoard.java
  src/main/resources/webroot/assets/css/game.css
  src/main/resources/webroot/assets/js/game.js
  src/main/resources/webroot/game.html
  src/test/java/be/howest/ti/project1/stratego/people/GameBoardTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerBoardTest.java
Due: build-jar, sonarqube, validateHTML, test, deploy

Clean up code #1
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app-desert.css
  src/main/resources/webroot/assets/css/app-magic.css
  src/main/resources/webroot/assets/css/app-wild.css
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/js/index.js
Due: build-jar, sonarqube, validateHTML, test, deploy

Gameboard Grid Update
  src/main/java/be/howest/ti/project1/stratego/people/GameBoard.java
  src/main/resources/webroot/assets/css/game.css
  src/test/java/be/howest/ti/project1/stratego/people/GameBoardTest.java
Due: build-jar, sonarqube, test, deploy

Gameboard Grid Update Fix
  src/test/java/be/howest/ti/project1/stratego/people/PlayerBoardTest.java
Due: build-jar, sonarqube, test, deploy

Gameboard Grid Update #2
  src/main/resources/webroot/assets/css/game.css
  src/main/resources/webroot/assets/js/game.js
  src/main/resources/webroot/game.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Clean up code #1
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/media/green-cursor.png
  src/main/resources/webroot/assets/media/wild.jpg
Due: build-jar, sonarqube, test, deploy

Make startpage
  src/main/resources/webroot/assets/css/screen.css
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/media/bitcoin.jpg
  src/main/resources/webroot/assets/media/maestro.jpg
  src/main/resources/webroot/assets/media/mastercard.jpg
  src/main/resources/webroot/assets/media/mister_cash_logo.png
  src/main/resources/webroot/assets/media/paypal.jpg
  src/main/resources/webroot/assets/media/visa.jpg
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

SonarQube Master Fix
  src/main/java/be/howest/ti/project1/stratego/people/Game.java
  src/main/java/be/howest/ti/project1/stratego/people/GameBoard.java
  src/main/java/be/howest/ti/project1/stratego/people/GameManager.java
  src/main/java/be/howest/ti/project1/stratego/people/PeopleApplication.java
  src/main/java/be/howest/ti/project1/stratego/people/Person.java
  src/main/java/be/howest/ti/project1/stratego/people/Piece.java
  src/main/java/be/howest/ti/project1/stratego/people/Pieces.java
  src/main/java/be/howest/ti/project1/stratego/people/Player.java
  src/main/java/be/howest/ti/project1/stratego/people/PlayerApplication.java
  src/main/java/be/howest/ti/project1/stratego/people/PlayerBoard.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreatePersonRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/WebServer.java
  src/main/resources/webroot/assets/css/app-desert.css
  src/main/resources/webroot/assets/css/app-magic.css
  src/test/java/be/howest/ti/project1/stratego/people/GameBoardTest.java
  src/test/java/be/howest/ti/project1/stratego/people/GameManagerTest.java
  src/test/java/be/howest/ti/project1/stratego/people/GameTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PeopleApplicationTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PersonTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PieceTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PiecesTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerApplicationTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerBoardTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PlayerTest.java
Due: build-jar, sonarqube, test, deploy

Stratego-in-javascript-client-almost-finished
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

code clean-up
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
Due: build-jar, sonarqube, test, deploy

code clean-up
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Revert "Stratego-in-javascript-client-almost-finished"
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Stratego JS FIX #1 (needs some clean-up)
  .idea/misc.xml
  .idea/modules.xml
  .idea/stratego-25.iml
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Stratego JS Clean-Up #1
  .idea/vcs.xml
  src/main/resources/webroot/assets/css/app-wild.css
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/css/loader.css
  src/main/resources/webroot/assets/css/screen.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Stratego JS Clean-Up #2
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Sonarqube: Properties of variables with "null" or "undefined" values should not be accessed FIX
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Scaling website and bug fixes
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Scaling fix
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/css/setup.css
Due: build-jar, sonarqube, test, deploy

bug fix
  src/main/resources/webroot/assets/css/board.css
  src/main/resources/webroot/assets/js/boardList.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/boardlist.html
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

added Airborne
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/media/Airborn.jpg
Due: build-jar, sonarqube, validateHTML, test, deploy

Adding the first working java files and tests + added new gamemode in java
  src/main/java/be/howest/ti/project1/stratego/people/PeopleApplication.java
  src/main/java/be/howest/ti/project1/stratego/people/Person.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Board.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Coordinate.java
  src/main/java/be/howest/ti/project1/stratego/stratego/GameMode.java
  src/main/java/be/howest/ti/project1/stratego/stratego/GameState.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Move.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Player.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Token.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns_stratego/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns_stratego/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns_stratego/Pawn.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns_stratego/Spy.java
  src/main/java/be/howest/ti/project1/stratego/webapi/Controller.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreateGameModeRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreatePersonRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreatePlayerRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/NewGame.java
  src/main/java/be/howest/ti/project1/stratego/webapi/WebServer.java
  src/main/resources/webroot/assets/css/.idea/css.iml
  src/main/resources/webroot/assets/css/.idea/misc.xml
  src/main/resources/webroot/assets/css/.idea/modules.xml
  src/main/resources/webroot/assets/css/.idea/vcs.xml
  src/main/resources/webroot/assets/css/.idea/workspace.xml
  src/main/resources/webroot/assets/js/boardList.js
  src/test/java/be/howest/ti/project1/stratego/people/PeopleApplicationTest.java
  src/test/java/be/howest/ti/project1/stratego/people/PersonTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/BoardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/MoveTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/TokenTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/pawns/PawnTest.java
Due: build-jar, sonarqube, test, deploy

Java styling fix
  src/main/java/be/howest/ti/project1/stratego/stratego/Board.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Move.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Token.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Infiltrator.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Miner.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Pawn.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Spy.java
  src/main/java/be/howest/ti/project1/stratego/webapi/Controller.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/NewGame.java
  src/main/java/be/howest/ti/project1/stratego/webapi/WebServer.java
  src/test/java/be/howest/ti/project1/stratego/stratego/BoardTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/MoveTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/pawns/PawnTest.java
Due: build-jar, sonarqube, test, deploy

Tests Sonarqube +80% + java aanpassen zodat er geen conflicten zijn met nulobjecten + Placement toegevoegd in setup code voor gamemode AIRBORN (+tests ervoor)
  src/main/java/be/howest/ti/project1/stratego/stratego/Move.java
  src/main/java/be/howest/ti/project1/stratego/stratego/PawnCollection.java
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/stratego/pawns/Pilot.java
  src/test/java/be/howest/ti/project1/stratego/stratego/PawnCollectionTest.java
  src/test/java/be/howest/ti/project1/stratego/stratego/StrategoTest.java
Due: build-jar, sonarqube, test, deploy

Typo fix
  src/main/java/be/howest/ti/project1/stratego/stratego/Coordinate.java
Due: build-jar, sonarqube, test, deploy

Begin verbinding tussen client & server + via client kan er al de gewenste gamemode op server worden geïnitialiseerd
  src/main/java/be/howest/ti/project1/stratego/stratego/Stratego.java
  src/main/java/be/howest/ti/project1/stratego/webapi/Controller.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreateGameModeRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/WebServer.java
  src/main/resources/webroot/assets/js/index.js
Due: build-jar, sonarqube, test, deploy

Vert.x connectie met server voor setup board nu enkel nog maar echo maar wel met de juiste ranken
  src/main/java/be/howest/ti/project1/stratego/webapi/CreateBluePawnRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/CreateRedPawnRequest.java
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/resources/webroot/assets/js/setup.js
Due: build-jar, sonarqube, test, deploy

added the wireframe
  documents/design/wireframes/Project wireframe end.pdf
  documents/design/wireframes/stratego.jpg
Due: none

add player java
  .idea/misc.xml
  src/main/java/be/howest/ti/project1/stratego/webapi/EndpointDispatcher.java
  src/main/java/be/howest/ti/project1/stratego/webapi/StrategoApp.java
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/css/setup.css
  src/main/resources/webroot/assets/js/index.js
  src/main/resources/webroot/assets/js/setup.js
  src/main/resources/webroot/setup.html
Due: build-jar, sonarqube, validateHTML, test, deploy

setup.js fix
  src/main/resources/webroot/assets/js/setup.js
Due: build-jar, sonarqube, test, deploy

index donate fix
  .idea/misc.xml
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

last px changed to rem
  src/main/resources/webroot/assets/css/app.css
Due: build-jar, sonarqube, test, deploy

App.html css fix
  src/main/resources/webroot/app.html
  src/main/resources/webroot/assets/css/app.css
  src/main/resources/webroot/assets/js/main.js
  src/main/resources/webroot/index.html
Due: build-jar, sonarqube, validateHTML, test, deploy

Path conditions:
  build-jar: not (any of: documents/**/*)
  sonarqube: not (any of: documents/**/*)
  validateHTML: any of: src/main/resources/webroot/**/*.html
  test: not (any of: documents/**/*)
  deploy: not (any of: documents/**/*)
